@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Source+Sans+Pro&display=swap');



a {text-decoration: none;}
* {box-sizing: border-box;margin: 0;padding: 0;}
body {
	--main-color: white;
	background-color: #010202;
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	max-width: 1146px;
	margin: auto;
	padding: 56px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: block;
	font-family: sans-serif;
	font-size: 24px;
	color: white;
	line-height: 28px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

.login {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login span {
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--main-color);
	font-size: 16px;
	margin-right: 15px;
	line-height: 20px;
}

.user-photo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.app {
	background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%), 
	url(../img/cover-image.png) no-repeat center right;
	min-height: 100vh;
}

.main {
	max-width: 1146px;
	margin: auto;
	padding: 7% 20px;
}

.main__body {max-width: 460px;}

.main__properties, .main__buttons, .main__button-watch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main__properties {width: 87%; margin-bottom: 10px;flex-wrap: wrap;}

.main__properties li {
	font-family: Source Sans Pro;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	color: #E5E5E5;
	opacity: 0.4;
	list-style: none;
}

.age {
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 1px 5px 3px;
}

.main__img {margin-bottom: 20px;}

.main p {
	color: white;
	font-family: Source Sans Pro;
	font-size: 21px;
	font-weight: 400;
	line-height: 29px;
	margin-bottom: 36px;
}

.main__buttons {width: 89%;}

button {
	border: none;
	border-radius: 6px;
	padding: 10px 25px 12px;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: var(--main-color);
	background-color: #2F2F2F;
}

.main__button-preorder {background-color: #EA6E20;}
/* .main__button-preorder span{display: none;} */
.main__button-watch span {margin-left: 15px;}

@media (max-width: 1200px) {
	.app {
		background-size: 50%;
	}
}
@media (max-width: 768px) {
	.app {
		height: auto;
		background-position: bottom center;
		padding-bottom: 400px;
	}
	.main {padding-top: 2%;}
	.main__img {max-width: 100%;}
	.main__properties {width: 100%; max-width: 100%;}
}
@media (max-width: 576px) {
	.main__body p {font-size: 16px;max-width: 330px;}
	.login span{display: none;}
	.app {padding-bottom: 350px; background-size: 300px;}
	.main__button-watch span {display: none;}
	.main__properties { justify-content: center;}
	.main__properties li {margin: 0 10px 10px;}
	.main__button-preorder span {display: none;}
}